body {
background-color: black;
gap: 200px;
}

#app {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.card{
    width: 400px;
    height: auto;
    margin: 10px;
    display: flex;
    border: solid 1px white;
    row-gap: 3px;
}

.button-container{
    display: flex;
    justify-content: center;
    gap: 100px;

}

.form-container{
    display: flex;
    justify-content: center;
}
#addPet{
    width: 100px;
}